BOUND_AND_HEARD_ADMIN_PASSWORD=change-me
BOUND_AND_HEARD_SESSION_SECRET=change-this-to-a-long-random-secret
BOUND_AND_HEARD_DEFAULT_USER_NAME=Local User
BOUND_AND_HEARD_GOOGLE_BOOKS_API_KEY=
BOUND_AND_HEARD_PORT=8000
